<div id="dealer">

  <div class="well">
    <h4>Frank's cards are:</h4>
 
    <% if @player_turn %>
      <img src="/images/cards/cover.jpg" class="card_image">
      <%= get_image(session[:dealer_hand][1]) %>
    <% else %>
      <% session[:dealer_hand].each do |card| %>
        <%= get_image(card) %> 
      <% end %>
    <% end %>
 
    <% if @dealer_turn %>
      <h4>The total value of the Frank's hand is: <%= calc_hand(session[:dealer_hand]) %></h4>
    <% end %>

    <% if @dealer_turn and not @stay %>
      <form id="dealerhit_form" class="display" action='/stay' method='post'>
        <input type='submit' value='Show next Dealer card' class='btn btn-primary'/>
      </form>
    <% end %>
  
  </div>

</div>
