<h4>Hello <%= session[:player_name] %>!</h4> 

<% if @dblackjack %>
  <div>
    The Dealer has BlackJack!
    </br>
    </br>
  </div>
<% end %>

<%= easy_partial '_dealerhand' %>

<div>
  <%= @win %>
</div>

<%= easy_partial '_playerhand' %>

<% if @pblackjack %>
  <div>
    You have BlackJack!
  </div>
<% end %>