<!-- img src="/images/sinatra.jpg" -->
</br>
<p><h4>Looks like you are broke.
  Thanks for coming to play with me</br>
  <%= session[:player_name] %>!
  Come back again when you get back on your feet.</h4></p>
</br>

<form class="form-inline" action='/set_name' method='post'>
  <input type='submit' value='Start Over' class='btn'/>
</form>
