<h2>Welcome to Blackjack!</h2>
<br/>
<!-- img src="/images/sinatra.jpg" -->
<h4>Hello, my name is Frank.  I will be your dealer today!  We'll start your Pot with $500.</h4>
<h4>What is your name?</h4>

<form class="form-inline" action='/set_name' method='post'>
  <input type='text' name='player_name' placeholder='Name:'/>
  <input type='submit' value='Join Frank!' class='btn btn-primary'/>
</form>
