<h2>Welcome to Blackjack!</h2>
<br/>
<h4>My name is Frank.  I will be your dealer today!  Come play a game with me.</h4>
<br/>
<img src="/images/sinatra.jpg">
<br/>
<br/>

<h5>What is your name?</h5>

<form class="form-inline" action='/set_name' method='post'>
  <input type='text' name='player_name' placeholder='Name:'/>
  <input type='submit' value='Join Frank!' class='btn'/>
</form>
