<!DOCTYPE html>
<html>
  <head>
    <title>Frank's Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div>
            <form class="display" action='/place_bet' method='get'>
              <input type='submit' value='Play Again' class='btn btn-primary'/>
            </form>

            <form class="display" action='/reset' method='get'>
              <input type='submit' value='Change Player' class='btn btn-warning'/>
            </form>

            <form class="display" action='/game_over' method='get'>
              <input type='submit' value='Quit' class='btn btn-danger'/>
            </form>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
