<!-- img src="/images/sinatra.jpg" -->
<br/>
<h3>Place your bet, <%= session[:player_name] %>!</h3>
<h5>Minimum bet is $2</h5>
<form class="form-inline" action='/place_bet' method='post'>
  <input type='text' name='cur_bet' placeholder='$2'/>
  <input type='submit' value='Place Bet!' class='btn btn-primary'/>
</form>
</br>
<h4>You have <%= format("$%.2f",session[:player_wallet]) %> left on the table!</h4>
