<!-- img src="/images/sinatra.jpg" -->
<h3>I don't like playing with folks who want tell me their name!</h3>
<h4>Please enter your name!</h4>

<form class="form-inline" action='/set_name' method='post'>
  <input type='text' name='player_name' placeholder='Name:'/>
  <input type='submit' value='Play On!' class='btn btn-primary'/>
</form>
